button.link {
  border: none;
}

.login {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login form {
  display: flex;
  flex-direction: column;
}
.login form div {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.login label {
  color: gray;
  font-size: 12px;
}

.login input {
  outline: none;
}
